.image-one-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-image: url("../assets//images/image-hero-paramour.jpg");
    background-size:cover;      /* makes the image cover the whole div */
    background-position:center; /* centers the image */
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    object-fit:contain;
    /* filter: brightness(70%) contrast(120%); */
}

.image-one-container .opacityDiv{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* adjust opacity for darkness */
    pointer-events: none; /* so it doesn't block the text */
}

.image-one-text{
    margin: 0 25px;
    text-align: left;
    color: rgb(252, 241, 241);
}

.image-title{
    font-size: 55px;
}

.image-p{
    font-size: 17px;
    line-height: 1.6;
}

.portfolio{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0 50px 0 25px;
}

.mobile-section-2{
    display: flex;
    flex-flow: column nowrap;
    justify-content:  space-between;
    text-align: left;
    margin: 0 25px;
}

.mobile-section-2-header{
    font-size: 35px;
}

.mobile-section-2-para{
    color: rgb(144, 140, 140);
    line-height: 1.4;
    font-size: 17px;
}

.mobile-section-3{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-image: url("../assets/images/image-small-team.jpg");
    background-size:cover;      /* makes the image cover the whole div */
    background-position:top; /* centers the image */
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
}
